.center-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-textbox {
  display: flex;
  justify-content: center;
  align-items: center;
width: 100%;

}

.field-width {
  display: flex;
justify-content: center;
align-items: center;
}

@media only screen and (max-width: 600px) {
  .center-textbox {
    width: 80%;
  }
}